<script type="text/javascript" src="Scripts/angular/angular.min.js"></script>
<script type="text/javascript" src="Scripts/cart.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="Content/bootstrap.min.css" />
<div class="row">
    <div class="col-sm-6">
        <div ng-app="shopCart">
            <form class="form-inline" ng-controller="FormCtrl" ng-submit="submitForm()">
                <h1>Dev Shop</h1>
                <h3>Add organization name</h3>
                <input class="form-control" type="text" ng-model="orgName" name="orgName" placeholder="Organization" />
                <input class="form-control" type="submit" id="submit" value="Submit" />
                <h3>Developers List</h3>
                <table class="table">
                    <tr>
                        <th>Avatar</th>
                        <th>Username</th>
                    </tr>
                    <tr ng-repeat="dev in devs">
                        <td><img ng-src="{{dev.Avatar}}"/></td>
                        <td>{{dev.Username}}</td>
                    </tr>
                </table>


            </form>
        </div>
    </div>
</div>