<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" >
    <!-- Optional theme -->
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="container">
        <h1>Dev Shop</h1>

        @RenderBody()


    </div>    
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
</body>
</html>
